<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<div id="blogsDiv">
{{#each blogs as |blog| }}
<a href="blog/{{blog.id}}">
<div class="alert alert-secondary" >
  <span>{{blog.Title}}</span>
  <span class="float-end">{{format_date blog.createdAt}}</span>
</div>
</a>
{{/each}}
</div>

<form class="form" id="new-post-form">
      <div class="form-group">
        <h3>Create New Post</h3>
      </div>
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title-txt" />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-input" id="content-txt"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="post-create">Create</button>
      </div>
</form>

<div class="text-center" >
<button type="button" class="btn btn-primary btn-lg" id="new-post">➕ New Post</button>
</div>
{{!-- <script src="./js/profile.js"></script> --}}
